* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  background: url("./bg-3patterns-combine.svg");
  /* background: url("./bg-pattern-top.svg"), url("./bg-pattern-bottom.svg");
  background-size: cover;
  background-position: top 150px left 150px, top -100px right 120px,
    bottom 100px right 100px, bottom 10px left 10px; */
  background-size: cover;
  //background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans);
}
.profile-card {
  width: 350px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}
.card-top {
  background: rgb(2, 2, 29);
  background: url("./bg-pattern-card.svg");
  height: 15vh;
  padding: 60px 40px;
}

.photo {
  display: inline-block;
  padding: 5px;
  background: linear-gradient(#ffff, #ffff);
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
}

.photo img {
  display: block;
  width: 100px;
  height: 90px;
  border-radius: 50%;
}

.myname {
  color: black;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0;
  // display: flex;
  padding-bottom: 30%;
  padding-left: 10%;
}
span {
  color: grey;
  padding-left: 5%;
  font-weight: lighter;
  font-size: 18px;
}

p {
  font-size: 14px;
  color: gray;
  padding-top: 10%;
  padding-right: 5%;
}
.card-bottom {
  background: white;
  height: 60vh;
  padding: 60px 10px;
  padding-bottom: 30%;
}

.color {
  height: 1px;
  margin-bottom: 5%;
}
.number {
  display: flex;
  align-items: center;
  color: black;
  font-weight: 800;
  font-size: 18px;
}

.item {
  flex: 1;
  text-transform: capitalize;
  font-size: 12px;
  color: gray;
  font-weight: lighter;
}

.item span {
  display: block;
  color: rgb(138, 65, 53);
  font-size: 30px;
}
